.productionList{

    width: 80%;
    min-height: 300px;
    margin: 15px auto;
    overflow: auto;
    border: 6px ridge #bbe4ed;


}
.bt{
    width: 60%;
    float: right;
}
.bt button{
    margin: 8px;
}
.productionList>div:first-child{
    width: 40%;
    float: left;
}
.InventoryManagement img{
    position: relative;
    margin: auto;
    margin-top:20px;
    width:  auto;
    height: 300px;
    border-radius: 10px;
  
}