.itemContainer{
    position: relative;
    width: 20%;
    height: 330px;
    margin: 15px auto;
    overflow: auto;
    border: 6px ridge #6eb3c1;
    float: left;
    margin: 15px 20px;
    background-color: #95b6bc;
}

.itemContainer>div{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   
}
.itemContainer>div:last-child{
   bottom: 0;
}
.itemContainer p{

    margin: 5px;
    font-size:14px;
}

.itemContainer img{
    position: relative;
    margin: auto;
    width:  auto;
    height: 160px;
  

}
.itemContainer>div:first-child>div{
    position: relative;
     margin:10px auto;
    width: 75%;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.itemContainer img:hover{
  
    z-index: 10;
    height: 180px;
}

.itemContainer:hover{
    background-color:#e2cbf4;
     border: 6px ridge #e0b3f9;
}


