.checkOut{
  
    width: 80%;
    min-height: 400px;
    margin: 50px auto;
    box-sizing: border-box;
    border: 6px ridge #bbe4ed;

}

.checkOut button{
    width: 100px;
    height: 30px;
    margin: 16px;
    border-radius: 6px;
    font-size: 16px;
    color:aliceblue;
    background-color: orange;
}

.checkoutdiv{
    padding: 30px;
    width: 50%;
    border-radius: 6px;
    box-shadow: 3px 3px 3px silver;
    background-color: azure;
    margin: auto;
    min-height: 400px;
    text-align: center;
 
  
}
.checkoutdiv>div:first-child{
    margin: auto;
    width:60%;
    text-align: left;
   
}

.checkoutdiv p:last-child{
    margin-top: 30px;
}

.checkoutdiv span{
    display: inline-block;
    width: 100px;
    font-weight:bold;
    
}