/*
.imageContainer{
    width: 40%;
    min-height: 300px;
    display: inline-block;
    float: left;
    overflow: auto;
}

.image{
    position: relative;
    width: 80%;
    margin: auto;
    top: 25px;
    height: 100%;
    border: 2px groove #acdeef;
    border-radius: 8px;
    background: white;
}


.image img{
    
    width: 30%;
    height: 200px;

}

.image img:hover{
    
    width: 35%;
    height: 220px;

}*/
