.imageContainer{
    width: 40%;
    height: inherit;
    display: inline-block;
    float: left;
    overflow: auto;
}

.image{
    position: relative;
    width: 80%;
    margin: auto;
    top: 25px;
    height: 100%;
    background: white;
}

.image img{
    
    width: auto;
    height: 280px;

}