.imageContainer{
    width: 40%;
    height: inherit;
    display: inline-block;
}

.image{
    position: relative;
    width: 80%;
    margin: auto;
    top: 25px;
    height: 250px;
    background: white;
}

.image img{
    height: 250px;
    width: auto;
}