.NavigationMenue{
    display: inline-block;
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
    
}

.NavigationMenue ul{

    list-style-type: none;
    margin: 0 30px;
    text-align: left;
    padding: 0;
    position: relative;
    display: inline-block;
    
}
.NavigationMenue ul:first-child{
    float: left;
}
.NavigationMenue ul:last-child{
    float: right;
}

.NavigationMenue ul li{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
}

.NavigationMenue a, .NavigationMenue a:visited{
    text-decoration: none;
    color: white;
}
.NavigationMenue a:hover{
    color: aqua;
}



